html,body{
	background-color: #F5F5F5;
}
body {
  font: 14px "Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.4;
}

.search input{
	display: block;
	border: none;
	outline: 0;
	background-color: transparent;
	height: 46px;
	padding: 0;
	margin: 0;
}
.window .bg{
	position: fixed;
	z-index: 4;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #F5F5F5;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.window .overlay{
	position: fixed;
	z-index: 6;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,.2);
}
.window .bg .tip{
	position: absolute;
	right: 20px;
	bottom: 20px;
	color: #999;
	font-size: 14px;
}

.window .search{
	display: flex;
	display: -webkit-flex;
	z-index: 10;
	position: fixed;
	top: 160px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 560px;
	height: 46px;
	background-color: #FFF;
  box-shadow: 0 1px 6px rgba(0,0,0,.2);
	transform: translateY(0);
	transition: all 0.6s;
	border-radius: 2px;
}
.window.show .search{
	transform: translateY(-300px);
}
.search .search-class{
	position: relative;
	width: 46px;
	height: 46px;
	cursor: pointer;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}
.search .search-class:hover .search-class-dropbox{
	display: block;
}
.search .search-class-val{
	display: block;
	padding: 10px;
	width: 46px;
	height: 46px;
	box-sizing: border-box;
	background-color: transparent;
}
.search .search-class-dropbox{
	display: none;
	z-index: 1;
	position: absolute;
	top: 100%;
	left: -10px;
	min-width: 120px;
	background-color: transparent;
	box-sizing: border-box;
	padding: 10px 0;
}
.search .search-class-dropbox:before{
	z-index: 1;
	position: absolute;
	top: -5px;
	left: 24px;
	display: block;
	content: "";
	border: 8px solid transparent;
	border-bottom-color: #FFF;
}
.search .search-class-dropbox .search-class-dropbox-content{
	z-index: 1;
	min-width: 100%;
	border-radius: 4px;
	background-color: #FFF;
	box-shadow: 0 1px 6px rgba(0,0,0,.2);
	box-sizing: border-box;
	padding: 8px 0;
}
.search .search-class-dropbox .item{
	display: flex;
	display: -webkit-flex;
	align-items: center;
	padding: 8px 16px;
	cursor: pointer;
}
.search .search-class-dropbox .item:hover{
	background-color: #f3f3f3;
}
.search .search-class-dropbox .item .so-icon{
	width: 20px;
	height: 20px;
	margin-right: 12px;
}
.search img{
	display: block;
	width: 100%;
	height: 100%;	
}
.search .search-class-dropbox .item .so-tit{
	font-size: 14px;
	font-weight: bold;
	color: #515a6e;
}
.search input.search-text{
	box-sizing: border-box;
	flex: 1;
	-webkit-flex: 1;
	width: 100%;
	padding: 0 15px;
}
.search .search-go{
	box-sizing: border-box;
	padding-left: 34px;
	padding-right: 15px;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	height: 46px;
	cursor: pointer;
	font-size: 18px;
	font-weight: bold;
	color: #000;
	background-color: #FFF;
	background-image: url('/images/so-go.png');
	background-repeat: no-repeat;
	background-position: 0 center;
	background-size: 24%;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}
