.popup-box{
	box-sizing: border-box;
	width: 240px;
	padding: 16px;
	background-color: #FFF;
}
.help{
	text-align: center;
	padding: 4px 8px;
	font-size: 14px;
	color: #333;
}
.popup-box .login .tit{
	font-size: 18px;
	color: #000;
	font-weight: bold;
	margin-bottom: 26px;
}
.popup-box .login .form-item{
	display: flex;
	width: 100%;
	height: 32px;
	background-color: #f8f8f8;
	margin-bottom: 16px;
	border-radius: 4px;
}
.popup-box .login .form-item .form-item-icon{
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 56%;
}
.popup-box .login .form-item .form-item-input{
	flex: 1;
	overflow: hidden;
	padding-right: 10px;
}
.popup-box .login .form-item button{
	background-color: #3385ff;
	color: #fff;
	outline: none;
	border: 0;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 32px;
	border-radius: 4px;
	cursor: pointer;
}
.popup-box .login .form-item button:active{
	background-color: #64a2ff;
}
.popup-box .login .form-item .form-item-input input{
	background-color: transparent;
	outline: none;
	border: 0;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 32px;
	line-height: 32px;
	color: #666;
}
.popup-box .login .form-item .form-item-icon.user{
	background-image: url('../images/icon-uer.png')

}
.popup-box .login .form-item .form-item-icon.pwd{
	background-image: url('../images/icon-pwd.png')
}

.popup-box .bookmark .tit{
	font-size: 18px;
	color: #000;
	font-weight: bold;
	margin-bottom: 26px;
}
.popup-box .bookmark .list .item{
	display: flex;
	align-items: center;
}
.popup-box .bookmark .list .item .icon{
	width: 24px;
	height: 24px;
	margin-right: 10px;
}
.popup-box .bookmark .list .item .icon .null-img{
	width: 24px;
	height: 24px;
	text-align: center;
	line-height: 24px;
	background-color: #666;
	color: #fff;
}
.popup-box .bookmark .list .item .icon .null-img:after{
	display: inline;
	content: "A";
}
.popup-box .bookmark .list .item .name{
	flex: 1;
	line-height: 20px;
	font-size: 12px;
	overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.popup-box .popup-footer{
	text-align: right;
}
.popup-box .popup-footer .logo{
	float: inline-block;
	line-height: 20px;
	font-size: 12px;
	color: #666;
}
.popup-box .popup-footer .logo img{
	vertical-align: middle;
}
